html, body {
  height: 100vh;
}

body {
  margin: 0px;
}

html {
  font-family: "Lucida Console", "Courier New", monospace;
}

#header, #footer {
  background-color: black;
  color: white;
}

#header {
  font-size: 3em;
}

#content {
  height: 100%;
}
