:root {
  --header-height: 20vh;
  --footer-height: 10vh;
  --text-color: #150f10;
  --background-color: #f7f4f4;
  --primary-color: #8aa89d;
  --accent-color: #f89b13;
  --secondary-color: #6687a4;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100% !important;
}

html {
  border-collapse: collapse;
  overflow: hidden;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
  overflow: auto;
}

#container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#header, #footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

#header {
  height: var(--header-height);
}

#content {
  min-height: calc(calc(100vh - var(--footer-height)) - var(--header-height));
}

#footer {
  height: var(--footer-height);
}

#swatches {
  margin: auto;
}

#swatches td {
  height: 2em;
  width: 2em;
}

#text {
  background-color: var(--text-color);
}

#background {
  background-color: var(--background-color);
}

#primary {
  background-color: var(--primary-color);
}

#accent {
  background-color: var(--accent-color);
}

#secondary {
  background-color: var(--secondary-color);
}
