:root {
  --header-height: 4em;
  --footer-height: 2em;
}

html, body {
  height: 100vh;
}

body {
  margin: 0px;
}

html {
  font-family: "Lucida Console", "Courier New", monospace;
}

#header, #footer {
  background-color: black;
  color: white;
}

#header {
  height: var(--header-height);
  font-size: 3em;
}

#content {
  height: calc(calc(100vh - var(--footer-height)) - var(--header-height));
}

#footer {
  height: var(--footer-height);
}
